/* variables */
/* general */
.rn-carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 29px; }

.rn-carousel-slides {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  white-space: nowrap;
  overflow: visible;
  padding: 0;
  margin: 0;width: 100%; }

.rn-carousel-slide {
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 780px;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; width: 100%;}

/* indicators */
.rn-carousel-indicator {
  width: 884px;

  margin-left: 48px;

  text-align: center;
  height: 40px;
  background-color: black;
  background-color: transparent;
  position: relative;
  bottom: 0;
  font-size: 29px;
  
  cursor: pointer; }
  .rn-carousel-indicator span {
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
    padding: 0 5px;
    color: #333; }
    .rn-carousel-indicator span:before {
      content: "\25cf"; }
  .rn-carousel-indicator .active {
    color: white;
    font-size: 29px }

/* controls */
.rn-carousel-control {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  font-size: 30px;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -35px;
  opacity: 0.75;
  cursor: pointer; }
  .rn-carousel-control:hover {
    opacity: 1; }
  .rn-carousel-control.rn-carousel-control-prev {
    left: 0.5em; }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: "<"; }
  .rn-carousel-control.rn-carousel-control-next {
    right: 0.5em; }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: ">"; }