<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Search</a></li>
    <li><a ng-href="#">Favorites</a></li>
  </ul>
  <h3>Leviev</h3>
</div>

<div class="row">
  <div  ng-hide="!showSearchControls"> 
    <h3 class="text-center">Shape</h3><br/>
    <div class="row">
      <div ng-repeat="shape in shapeOptions" class="option col-xs-6 col-sm-4 col-md-3">
        <input type="checkbox" name="{{shape}}" id="{{shape}}-cb" ng-click="addItem(shape, queryParams.shapes)"/><label class="cbLabel" for="{{shape}}-cb">{{shape}}</label><br/>
      </div>
    </div>
    <h3 class="text-center">Types</h3><br/>
    <div class="row">
      <div ng-repeat="type in typeOptions" class="option col-xs-6 col-sm-4 col-md-3">
        <input type="checkbox" name="{{type}}" id="{{type}}-cb" ng-click="addItem(type, queryParams.types)"/><label class="cbLabel" for="{{type}}-cb">{{type}}</label><br/>
      </div>
    </div>
    <h3 class="text-center">Color</h3><br/>
    <div class="row">
      <div ng-repeat="color in colorOptions" class="option col-xs-6 col-sm-4 col-md-3">
        <input type="checkbox" name="{{color}}" id="{{color}}-cb}}" ng-click="addItem(color, queryParams.colors)"/><label class="cbLabel" for="{{color}}-cb">{{color}}</label><br/>
      </div>
    </div>
    <p class="clear"></p>
    <h3 class="text-center">Color Quality</h3><br/>
    <slider floor="0" ceiling="6" precision="1" step="1" ng-model-low="queryParams.colorQualityLow" ng-model-high="queryParams.colorQualityHigh" translate="colorQualityFormatting" ></slider>
    <h3 class="text-center">Status</h3><br/>
    <div class="row">
      <div ng-repeat="status in statusOptions" class="option col-xs-6 col-sm-4 col-md-3">
        <input type="checkbox" name="{{status}}" id="{{status}}-cb" ng-click="addItem(status, queryParams.statuses)"/><label class="cbLabel" for="{{status}}-cb">{{status}}</label><br/>
      </div> 
    </div>
    <h3 class="text-center">Carats</h3><br/>
    <slider floor="0" ceiling="100" precision="1" step="0.1" ng-model-low="queryParams.caratLow" ng-model-high="queryParams.caratHigh" ></slider>
    <button class="btn btn-primary" ng-click="doSearch()">Search</button>
  </div>
</div>
  <div class="row " ng-hide="showSearchControls">
    <div class="row">
      <h3 class="text-center">Search Results</h3>
      <h4>Searching For</h4>
      <ul class="list-inline">
        <li> Shapes: <span ng-repeat="shape in queryParams.shapes">{{shape}}{{$last ? '' : ', '}}</span></li>
        <li>Types: <span ng-repeat="type in queryParams.types">{{type}}{{$last ? '' : ', '}}</span></li>
        <li>Statuses: <span ng-repeat="stat in queryParams.statuses">{{stat}}{{$last ? '' : ', '}}</span></li>
        <li>Colors: <span ng-repeat="color in queryParams.colors">{{color}}{{$last ? '' : ', '}}</span></li>
        <li>Color Quality: {{colorQualityFormatting(queryParams.colorQualityLow)}} to {{colorQualityFormatting(queryParams.colorQualityHigh)}}</li>
        <li>Carats: {{queryParams.caratLow}} to {{queryParams.caratHigh}}</li>
      </ul>
      <button class="btn btn-primary" ng-click="handleChangeCriteria()">Change Critera</button>
      <ul>
        <li>result</li>
      </ul>
    </div>
  </div>
  Debug View:
  <pre>user={{queryParams | json}} {{showSearchControls}} </pre>
<div class="footer">
</div>
	
</apex:page>