<apex:page controller="searchProduct" showHeader="false" renderAs="{!ChooseRender}">
<script>
var stoneSortNameFld = '{!SearchSortFld}';

var curSearchType = '{!SearchType}';

    function printPrice(inVal)
    {
        var num = new NumberFormat();
        num.setInputDecimal('.');
        num.setNumber(inVal); // obj.value is '1.55E+7'
        num.setPlaces('0', false);
        num.setCurrencyValue('');
        num.setCurrency(false);
        num.setCurrencyPosition(num.LEFT_OUTSIDE);
        num.setNegativeFormat(num.LEFT_DASH);
        num.setNegativeRed(false);
        num.setSeparators(true, ',', ',');
        document.write(num.toFormatted());
    }

</script>
<style type="text/css">
/* CSS Document */

html, body, form{
    margin: 0;
    padding: 0;
}

form { height: auto; }

body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3E3E3E;
}

img { border: #000 0px solid; }

.txtu {text-decoration: underline;}
.txtj {text-align:justify}
.txtb {font-weight:bold}
.txtup {text-transform:uppercase}
.txtn {font-weight:normal}

.norm {font-size:11px}
.small {font-size:10px}
.small2 {font-size:9px}
.small3 {font-size:8px}
.big {font-size:12px}
.big2 {font-size:13px}
.big3 {font-size:14px}
.big4 {font-size:18px}
.err {color:#DD0000}
.nobr {white-space: nowrap}

.off {visibility: hidden}
.none {display: none}
.error {color:Red}

a { color: #BC4E34; text-decoration: underline; outline:none !important; }
a:hover { text-decoration: none; }
a:visited {}

input, textarea, select { font-family: Arial, Helvetica, sans-serif; font-size: 100%; font-weight: 100; }
table { border-collapse: collapse; } table td { padding: 0px; vertical-align: top }

#all {
    position: relative;
    min-height: 300px;
    _height: 300px;
    width: 937px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 90px;
}

    #logo {
        height: 45px;
        text-align: center;
        padding-top: 16px;
        padding-right: 170px;
    }






    .search {
        margin-bottom: 2px;
        border: #fff 1px solid;
        width: 762px;
        position: relative;
    }
    
        .search .topic {
            text-align: center;
        }
        .search .content {
            padding: 0 26px;
            padding-top: 16px;
            margin-top: 5px;
        }
        
            .search .onefield {
                margin-bottom: 8px;
            }
                .search .onefield .title {
                    font-size: 110%;
                    color: #000;
                    font-weight: 900;
                    padding-bottom: 2px;
                }
            .search .content input, .search .content select {
                color: #BC4E34;
            }
            .search .content .w180 {
                width: 180px;
                padding-right: 20px;
            }
                .search .content .w180 input {
                    padding: 0 5px;
                    width: 153px;
                }
                .search .content .w180 select {
                    width: 165px;
                    font-size: 110%;
                }
            .search .content .w180 .border {
                background: url(/resource/1220886785000/w180_top) no-repeat;
            }
                .search .content .w180 .border .hdiv {
                    background: url(/resource/1220886826000/w180_btm) no-repeat bottom left;
                    padding: 5px 6px 4px 6px;
                }
            .search .content .w180 .border table {
                margin: 3px 6px;
                width: 157px;
                font-size: 110%;
                color: #BC4E34;
            }
                .search .content .w180 .border table td {
                    padding: 2px 0;
                }
                .search .content .w180 .border table input {
                    margin: 0;
                    padding: 0;
                    width: auto;
                }

                .search .content .other input {
                    padding: 0 5px;
                    width: 150px;
                    vertical-align: middle;
                    font-size: 90%;
                }
                .search .content .other select {
                    width: 225px;
                    vertical-align: middle;
                }
                .search .content .other img {
                    vertical-align: middle;
                }
                .search .content .other .w_auto {
                    width: auto;
                }
            .search .content .other .border {
                background: url(/resource/1220886924000/h28_l) no-repeat;
                font-size: 110%;
                color: #000;
            }
                .search .content .other .border .hdiv {
                    background: url(/resource/1220886941000/h28_r) no-repeat top right;
                    padding: 5px 6px 4px 6px;
                    height: 19px;
                    line-height: 19px;
                }
            .search .content .other .w240 {
                width: 240px !important;
            }

        
        .search .but_open {
            position: absolute;
            right: 24px;
            bottom: -8px;
            z-index: 700 !important;
            background: url(/resource/1220887036000/but_up) no-repeat;
        }
        
        .search .reset {
            text-align: right;
            margin-bottom: 20px;
            margin-top: -20px;
            padding-right: 7px;
        }
            .search .reset a {
                padding-left: 26px;
                display: block;
                width: 30px;
                margin-left: auto;
                background: url(/resource/1220887078000/reset) no-repeat;
                font-size: 110%;
                height: 20px;
                line-height: 20px;
            }

    #button {
        padding: 10px 0;
        padding-right: 170px;
    }
    #button table {
        margin: 0 auto;
        margin-top: 10px;
    }
        #button td {
            vertical-align: middle;
            padding: 5px 5px;
            font-size: 110%;
            font-weight: 900;
            color: #000;
        }
        #button td input.radio {
            margin: 0;
            padding: 0;
            margin-right: 5px;
            vertical-align: middle;
        }







    
    #results {
        margin-top: 10px;
        width: 680px;
        border: #fff 1px solid;
    }
        #results .title {
            background: #E37F8D;
            height: 21px;
            line-height: 21px;
            padding: 0 9px;
            font-weight: 900;
            color: #fff;
            margin: 0 1px;
            border: #fff 1px solid;
        }
            #results .title span {
                color: #3E3E3E;
            }
            #results .title a {
                            color: #fff;
                            font-size: 110%;
                            font-weight:normal;
                            text-decoration: none;
            }
            
        #results .pager {
            text-align: center;
            font-size: 110%;
            position: relative;
            margin: 0 2px;
            height: 29px;
            line-height: 29px;
        }

            #results .pager .view {
                position: absolute;
                right: 30px;
                top: 0px;
            }
            #results .pager .list {
                background: url(/resource/1220887122000/ico_list) no-repeat 0 10px;
                padding-left: 10px;
            }
            #results .pager .grid {
                padding-left: 10px;
            }
            .grid_dir { padding-left: 5px;}
            
            #results .content {
                margin: 0 2px;
                padding-left: 15px;
                overflow: hidden;
                _zoom: 1;
                padding-bottom: 50px;
                border-bottom: #F4CCD1 1px solid;
                border-top: #F4CCD1 1px solid;
            }
                #results .content .item {
                    float: left;
                    padding-right: 15px;
                    padding-bottom: 20px;
                }
                    #results .content .item h3 {
                        color: #000;
                        padding: 14px 0 6px 0;
                        margin: 0;
                        font-size: 110%;
                        text-align: center;
                    }
                        #results .content .item h3 a {
                            color: #000;
                            text-decoration: none;
                        }
                        #results .content .item h3 a:hover {
                            text-decoration: underline;
                        }
                    #results .content .item {
                    }
                    #results .content .item .price {
                        text-align: center;
                        color: #BC4E34;
                        font-weight: 900;
                        font-size: 110%;
                        padding: 5px 0;
                    }

            #results .list {
                margin: 0 2px;
                padding-left: 0px;
                overflow: hidden;
                _zoom: 1;
                padding-bottom: 0px;
                border-bottom: #F4CCD1 0px solid;
                border-top: #F4CCD1 1px solid;
            }
                #results .list .item {
                    float: left;
                    padding-left: 5px;
                    padding-right: 7px;
                    padding-bottom: 0px;
                    font-size: 110%;
                    border-bottom: #F4CCD1 1px solid;
                }
                    #results .list .item td {
                        vertical-align: top;
                        padding: 10px 0;
                    }
                    #results .list .item h3 {
                        color: #000;
                        padding: 0;
                        margin: 0;
                        text-align: left;
                    }
                        #results .list .item h3 a {
                            color: #000;
                            text-decoration: none;
                        }
                        #results .list .item h3 a:hover {
                            text-decoration: underline;
                        }
                    #results .list .item {
                    }


</style>
<script type="text/javascript" src="{!$Resource.SiteJS}"/>
<script src="{!$Resource.NumberFormat}" type="text/javascript"></script>

<script type="text/javascript" src="/js/dojo/0.3.1/dojo.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/soap/ajax/14.0/connection.js"></script>
<script type="text/javascript" src="/soap/ajax/14.0/apex.js"></script>



<script type="text/javascript">
    var iLimit = {!iLimit};
    var iLimit2 = {!iLimit2};
    var stTotalItem = 0;
</script>

<div class="topic" align="center"> <img src="{!$Resource.logo2}" width="280" height="200" alt="" /></div>

<div style="" align="center">
<div id="all" >
<apex:outputPanel id="detailRes">
<div id="results">

        <div class="title" style="font-size: 100%; padding: 3px 0 3px 15px; ">
        <table width="670" cellpadding="0" cellspacing="0"><tr>
            <td width="100"><a><nobr>Jewelry Number</nobr></a></td>
            <td width="100"><a>Properties</a></td>
            <td width="230"><a>Description</a></td>
            <td width="80"><a>Price</a></td>
            <td width="160"><a>Image</a></td>
        </tr>
        </table>
        </div>

        <div class="content list">
        <apex:repeat value="{!prodsFavTmp}" var="product" id="theRepeat445566">
            <div class="item" style="font-size: 100%; padding: 0px 0 0px 15px; ">
                <table width="670" cellpadding="0" cellspacing="0"><tr>
                    <td width="100"><div style="width:60px" align="right">{!product.Name}</div><br clear="all"/>
                        <apex:outputText rendered="{!IF(LOWER(CurUserObj.Division)=='singapore' || LOWER(CurUserObj.Division)=='dubai', 'false', 'true')}">
                            <br/>
                            <div style="width:60px" align="right">{!product.Discount_Code}</div>
                        </apex:outputText>
                    
                    </td>
                    <td width="100"><!-- Location: {!product.Item_Location},<br/>-->
                        Color: {!product.Primary_Color},<br/>
                        Weight: {!product.Total_Weight}<br/>
                        </td>
                    <td width="230" style="padding-right: 10px;"><apex:outputText escape="false" value="{!product.Description}"/></td>
                    <td width="80">{!product.Sales_Comments}</td>
                    <td width="160">
                        <!-- <img src="/servlet/servlet.FileDownload?file={!product.ProductCode}" width="150" border="0"/> -->
                        <img src="http://internal.leviev.com/SIP/images/medium/{!product.Item_Number}_1.jpg" width="150" border="0"/>
                    </td>
                </tr></table>
            </div>
        </apex:repeat>          
        </div>
 <br/>
<apex:outputPanel rendered="{!IF(ChooseRender==null, 'true', 'false')}">  
<a href="/apex/JewelryListPrint?render=pdf">PDF version</a>      
</apex:outputPanel>
</div>
</apex:outputPanel>
</div>
</div>
</apex:page>