<apex:page standardController="Memo__c" extensions="SL_CustomMemoClone">
  <apex:form >
  <script>
  		var currConColumn;
  		var memoLineRecordId = '';
  		var recordNumber;
     	function openWind(URL)
        {
            curPopupWindow  = window.open(URL, "_blank","width=500, height=500,dependent=no,toolbar=no,status=no,directories=no,menubar=no,scrollbars=1,resizable=no", true);               
        }

        function openBranchPopup(obj, memoLineId, recordNum)
        {
        	memoLineRecordId = memoLineId;
        	recordNumber = recordNum
            currConColumn = obj;
			//var likeString = (obj.getElementsByTagName('input')[0]).value;
			//var oppId = (obj.parentNode.getElementsByTagName('input')[1]).value;
			
			var inputArr = currConColumn.getElementsByTagName('input');  
            var likeString = inputArr[0].value;
            var oppId = inputArr[1].value ;
			var url = "/apex/SL_MemoEdit?likestring=" + likeString;
			openWind(url);
			return false;
        }   
        
        function setSelectedBranchDetails(Id, Name)
        {    
            var inputArr = currConColumn.getElementsByTagName('input');  
            inputArr[0].value = Name;
            inputArr[1].value = Id;
           	//	alert(Id + ':' +  Name);
            curPopupWindow.close();
            currConColumn = null; 
            
			callOnEdit(Id, Name, memoLineRecordId, recordNumber);
        }  
        
        function confirmDelete(actionId , number) 
       	{
	       var doDelete = confirm('Are you sure? ');
	       if(doDelete)
			callOnDelete(actionId , number);	
		   else	
			return doDelete; 
    	} 
   </script>
   <style>
   	.height40 
	{
		height: 20px;
		width :100%;				
		overflow-y: auto;
	}
   </style>
   <apex:actionfunction name="callOnDelete"  action="{!removeMemoLine}"  rerender="MemoLineListing" >
		<apex:param name="deleterecord" value="" assignTo="{!selectActionId}"/>
	    <apex:param name="num" value="" assignTo="{!recNumber}"/>
   </apex:actionfunction>
   
   <apex:actionfunction name="callOnEdit" action="{!populateValues}"  rerender="MemoLineListing" >
		<apex:param name="Id" value="" assignTo="{!selectActionId}"/>
	   	<apex:param name="name" value="" assignTo="{!recordName}"/>
	   	<apex:param name="memoId" value="" assignTo="{!memoId}"/>
	   	<apex:param name="name" value="" assignTo="{!recNumber}"/>
   </apex:actionfunction>
   
   <apex:pageblock id="CustomList" title="Memo Line" >
		  <apex:pageBlockButtons location="both">
	        <apex:commandButton action="{!addMemoLine}" value="New Memo Line"  rerender="pbMemoLineListing" status="loading" />
<!-- 	        <apex:commandButton action="{!SaveAll}" value="Save"  rerender="pbMemoLineListing" status="loading" /> -->
	      </apex:pageBlockButtons>	      
		  <apex:outputpanel id="MemoLineListing">
		  	<div id="dialog" style="width:100%; overflow:auto; height:143px;">
			<apex:pageblocktable value="{!lstMemoLineItem}" var="MemoLine" id="pbMemoLineListing"> 
				<apex:column headervalue="Action" >
					<apex:outputpanel rendered="{!MemoLine.isSaveOrCancelRecord}">  
						<apex:commandLink value="Save" action="{!saveMemoLine}" style="color:#015BA7;" rerender="ErrorDuplicateAccountTeam, ErrorMessage, MemoLineListing">
							<apex:param name="edit" value="{!MemoLine.objMemoLine.Id}" assignTo="{!selectActionId}"/>
		                 	<apex:param name="num" value="{!MemoLine.newRecordNumber}" assignTo="{!recNumber}"/>
						</apex:commandLink> 
						|&nbsp;
						<apex:commandlink value="Cancel" action="{!cancelMemoLine}" style="color:#015BA7;" rerender="pbMemoLineListing,MemoLineListing">  
		                 	<apex:param name="cancel" value="{!MemoLine.objMemoLine.Id}" assignTo="{!selectActionId}"/>
		                 	<apex:param name="num" value="{!MemoLine.newRecordNumber}" assignTo="{!recNumber}"/>
		                </apex:commandLink>
					</apex:outputpanel>
					<apex:outputpanel rendered="{!MemoLine.isEditOrRemoveRecord}"> 
						<apex:commandLink value="Edit" action="{!editMemoLine}" rerender="pbMemoLineListing,MemoLineListing"  style="color:#015BA7;" > 
							 <apex:param name="edit" value="{!MemoLine.objMemoLine.Id}" assignTo="{!selectActionId}"/>
		                 	 <apex:param name="num" value="{!MemoLine.newRecordNumber}" assignTo="{!recNumber}"/>
						</apex:commandLink> |&nbsp; 
						<a style="cursor: pointer;text-decoration: underline; color:#015BA7;" 
							onclick="confirmDelete('{!MemoLine.objMemoLine.Id}','{!MemoLine.newRecordNumber}');">Remove</a>
					</apex:outputpanel> 
				</apex:column>
				
				<apex:column headervalue="Item" width="25%">
				
					<apex:outputText value="{!MemoLine.selectedValue}" rendered="{!MemoLine.isEditOrRemoveRecord}"/> 
					<apex:inputText value="{!MemoLine.selectedValue}" id="RelatedNameId" rendered="{!MemoLine.isSaveOrCancelRecord}"/>
					
					<apex:outputPanel rendered="{!MemoLine.isSaveOrCancelRecord}">
					    <a href ="" style="cursor: pointer" onclick="return openBranchPopup(this.parentNode.parentNode,'{!MemoLine.objMemoLine.Id}','{!MemoLine.newRecordNumber}')">
							<img src="/s.gif" alt="Stone Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
							onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
							onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title="Stone Lookup (New Window)" />
					    </a>
				    </apex:outputPanel>
				    <apex:inputHidden value="{!MemoLine.selectedId}" id="selectedId" /> 
				</apex:column>	
				
				<apex:column headervalue="Quantity" width="15%">
					<apex:outputfield value="{!MemoLine.objMemoLine.Quantity__c}" rendered="{!MemoLine.isEditOrRemoveRecord}"/>
					<apex:inputfield value="{!MemoLine.objMemoLine.Quantity__c}" rendered="{!MemoLine.isSaveOrCancelRecord}"/>
				</apex:column>	
				
				<apex:column headervalue="Carat" width="15%">
					<apex:outputfield value="{!MemoLine.objMemoLine.Carat__c}" rendered="{!MemoLine.isEditOrRemoveRecord}"/>
					<apex:inputfield value="{!MemoLine.objMemoLine.Carat__c}" rendered="{!MemoLine.isSaveOrCancelRecord}"/>
				</apex:column>	
				
				<apex:column headervalue="Price" width="15%">
					<apex:outputfield value="{!MemoLine.objMemoLine.Price__c}" rendered="{!MemoLine.isEditOrRemoveRecord}"/>
					<apex:inputfield value="{!MemoLine.objMemoLine.Price__c}" rendered="{!MemoLine.isSaveOrCancelRecord}"/>
				</apex:column>	
				
				<apex:column headervalue="Status" width="15%">
					<apex:outputfield value="{!MemoLine.objMemoLine.Status__c}" rendered="{!MemoLine.isEditOrRemoveRecord}" />
					<apex:inputfield value="{!MemoLine.objMemoLine.Status__c}" rendered="{!MemoLine.isSaveOrCancelRecord}" />
				</apex:column>	
				
			</apex:pageblocktable>
			</div>
		</apex:outputpanel>
   </apex:pageblock>
  </apex:form>
</apex:page>