<apex:page Standardcontroller="Memo__c" extensions="SL_MemoEditController">
<script>
     function openWind(URL)
         {
             curPopupWindow  = window.open(URL, "_blank","width=500, height=500,dependent=no,toolbar=no,status=no,directories=no,menubar=no,scrollbars=1,resizable=no", true);               
         }

         function openBranchPopup(event)
         {
             var url ;
             url = "https://c.cs13.visual.force.com/apex/SL_MemoEdit"
             openWind(url);
             return false;
         }   
         
         function setSelectedBranchDetails(Id, Name)
         {    
             var inputArr = currConColumn.getElementsByTagName('input');  
             inputArr[0].value = Id;
             inputArr[1].value = Name;
             //confId = Id;
             actionFun(Name);
             curPopupWindow.close();
             currConColumn = null; 
         }   
         </script>
     <apex:form >
        
         <apex:outputPanel id="main">
<!--              <apex:outputPanel rendered="true">  -->
<!--                  <table id="tblSearch"> -->
<!--                      <tr> -->
<!--                          <td><B>Search</B></td> -->
<!--                          <td><apex:inputText value="{!strAccountSearch}"/></td> -->
<!--                          <td> -->
<!--                             <apex:CommandButton value="Go!" action="{!searchRelatedAccount}" reRender="detail" status="loading"/> <br /> -->
<!--                          </td>  -->
<!--                      </tr> -->
<!--                  </table> -->
<!--              </apex:outputPanel> -->
             
             <br /> 
             
             <apex:outputPanel id="detail" >
	             <apex:pageBlock title="Choose Stone" rendered="{!lstProduct.size > 0}">
		             <apex:outputPanel Id="checkOP" rendered="{!isError}">
		             	<apex:pageMessage id="errorMessage" severity="Error" summary="Your search returned more than 200 records. Please enter additional search criteria to narrow your results."/>
		             </apex:outputPanel> 
<!-- 		             <apex:pageBlockTable value="{!lstProduct}" var="crs" rendered="{!lstProduct.size > 0}" rows="200"> -->
<!-- 		                    <apex:column headerValue="Name"> -->
								<apex:inputtext />
								<a href ="" style="cursor: pointer" onclick="return openBranchPopup(event)">
										<img src="/s.gif" alt="Stone Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
										onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
										onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title="Stone Lookup (New Window)" />
									</a>
<!-- 		                    </apex:column> -->
<!-- 		            </apex:pageBlockTable>  -->
	            </apex:pageBlock>
            </apex:outputPanel> 
      </apex:outputPanel> 
	</apex:form> 
</apex:page>