<leviev-Header back-Button-To-Search-Results search-mode="searchMode" favorites-mode="favoritesMode"></leviev-Header>
<br/>
<center>Favorite lists</center>
<div class="container animated fadeIn">
	<button class="btn btn-default btn-lg right" ng-click="createFavoriteList(selectedJewelryId)">Create New</button><br/><br/>
	<div>
		<favourite-List-With-Select-Button></favourite-List-With-Select-Button>
	</div>
</div>
