<leviev-Header search-mode="searchMode" favorites-mode="favoritesMode"></leviev-Header>
<h2 class="text-center">Create New Favorite List</h2><br>
<div class="container animated fadeIn">
	<div style="height:40px;">
		<span style='margin-top:15px;float:left;'>List Name</span> <input type="text" name="default" ng-model="favoriteListName" placeholder="List Name" class="mbm size-full phm pvm input input--default input--ph-1 input--focus-1"  style="width:90%; float:right;">
	</div><br/>
	<div style="height:40px;">
		<span style='margin-top:15px;float:left;'>Account</span>
		<s1-Lookup field-Name="Accounts" text-Placeholder="Lookup (required)" selected-id="accountId" selected-item="Account"  s-Object-Type="account" title="Accounts" ></s1-Lookup>
	</div>
	<br/>
	<div style="height:40px;">
		<center><button style="margin-top:30px;" class="btn btn-default btn-lg" ng-click="createNewFavoriteList(favoriteListName,accountId)">Save</button></center>
	</div>
</div>
