  <leviev-Header back-Button-To-Favorites-List search-mode="searchMode" favorites-mode="favoritesMode"></leviev-Header>
  
    <!--search-Header query-Params="queryParams"></search-Header-->
	<center>Favorite Products List</center><br/>
  <center>{{displayText}}</center>
<div class="container animated fadeIn">
  <ul rn-carousel rn-carousel-indicator rn-carousel-index="1" class="my-slider slider3 ng-cloak">

  <li ng-repeat="jewelry in sfdcResult.slice(0,iterate)">

    <ul>
    <li ng-repeat ="item in pagedItems[$index]">
      
      <div class="col-md-6 col-lg-6 boxContainer">
        <div class="contentBody"><div class="lev-image" ng-click="navigateToDetailPage(item.Jewelry__r.Id)" style="cursor:pointer; height:inherit; background-image:url('{{item.Jewelry__r.Image_Source__c || item.Stone__r.Jewelry__r.Image_Source__c}}&size=medium')"/></div>
        <div class="contentFooter" style="color:black;"><span style="margin-left:10px;">{{item.Jewelry__r.Name || item.Stone__r.Name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Jewelry__r.Total_Weight__c || item.Stone__r.Carats__c}} carats </span>
        <span id="{{item.Id}}" style="float:right;margin-right:10px;cursor:pointer;" class="glyphicon glyphicon-star starColor"></span><br/>
        <span style="margin-left:10px;">{{item.Jewelry__r.GBP_Search_Price__c || item.Stone__r.Price__c}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Jewelry__r.Item_Location__c || item.Stone__r.Location__c}}</span></div>
      </div>
      </div>

  <!-- <img src="{{item.Image_Source__c}}" style="height: 50px; width:50px ;"> -->

    </li> 
    </ul>
   
   </li>

   </ul>
  </div>
  <!--div>
    <button ng-class="{disabled: currentPage == 0}" ng-click="prevPage()" style="float:left;">Prev</button>
    <button ng-class="{disabled: currentPage == pagedItems.length - 1}" ng-click="nextPage()" style="float:right;">Next</button>
  </div-->
