<div>
    <leviev-Header search-mode="searchMode" favorites-mode="favoritesMode"></leviev-Header>

    <div class="container" style="padding-bottom:20px;">
        
        <div id="searchMode" ng-show="searchMode" class="animated fadeIn" ng-class="searchModeAnimate">
            <div id="stoneProperties" class="blockContainer">
                <br/>
                <div>
                  <center><span class="searchHeader">Stone Properties</span></center><span ng-show="showStonesDetail" ng-click="showStones()" class="glyphicon glyphicon-expand" style="float:right;margin-top:-25px;color:white;"></span>
                  <span ng-show="!showStonesDetail" ng-click="hideStones()" class="glyphicon glyphicon-collapse-down" style="float:right;margin-top:-25px;color:white;"></span>
                </div>
                <br/>
                <div ng-show="!showStonesDetail">
                    <div class="input-group">
                      <span class="input-group-addon">Stone #</span>
                      <input type="text" class="form-control" ng-model="queryParams.stone.stoneNumber" placeholder="Stone #"/>
                    </div>

                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon">Lot/Layout</span>
                      <input type="text" class="form-control" ng-model="queryParams.stone.lotLayout" placeholder="Lot/Layout"/>
                    </div>
                    <br/>

                    <div class="input-group">
                      <span class="input-group-addon">Certificate #</span>
                      <input type="text" class="form-control" ng-model="queryParams.stone.certificateNumber" placeholder="Certificate #"/>
                    </div>

                    <div class="searchHeader text-center">Shape</div>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12"> 
                        <div class="row clearfix">
                          <div class="col-md-3 col-sm-3 column" ng-click="addShape(shapeOptions[0].Type,0,queryParams.stone.shapes)">
                            <div class="lev-img lev-marquise">
                              <div id="MQ" class="lev-img" ng-class="{'overlay':{{shapeOptions[0].isChecked}}}"></div>
                            </div>
                          </div>
                          
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.oval = !levImgOverlay.oval;addShape(shapeOptions[1].Type,1,queryParams.stone.shapes)">
                            <div class="lev-img lev-oval">
                              <div id="OV" class="lev-img" ng-class="{'overlay':{{shapeOptions[1].isChecked}}}"></div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.pear = !levImgOverlay.pear;addShape(shapeOptions[2].Type,2,queryParams.stone.shapes)">
                            <div class="lev-img lev-pear">
                              <div id="PS" class="lev-img" ng-class="{'overlay':{{shapeOptions[2].isChecked}}}"></div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.princess = !levImgOverlay.princess;addShape(shapeOptions[3].Type,3,queryParams.stone.shapes)">
                            <div class="lev-img lev-princess">
                              <div id="PRIN" class="lev-img" ng-class="{'overlay':{{shapeOptions[3].isChecked}}}"></div>
                            </div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12">  
                            <div class="row clearfix">
                              <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.radiant = !levImgOverlay.radiant;addShape(shapeOptions[4].Type,4,queryParams.stone.shapes)">
                                <div class="lev-img lev-radiant">
                                  <div id="RAD" class="lev-img" ng-class="{'overlay':{{shapeOptions[4].isChecked}}}"></div>
                                </div>
                              </div>

                              <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.round = !levImgOverlay.round;addShape(shapeOptions[5].Type,5,queryParams.stone.shapes)">
                                <div class="lev-img lev-round">
                                  <div id="BR" class="lev-img" ng-class="{'overlay':{{shapeOptions[5].isChecked}}}"></div>
                                </div>
                              </div>
                              <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.trillion = !levImgOverlay.trillion;addShape(shapeOptions[6].Type,6,queryParams.stone.shapes)">
                                <div class="lev-img lev-trillion">
                                  <div id="trillion" class="lev-img" ng-class="{'overlay':{{shapeOptions[6].isChecked}}}"></div>
                                </div>
                              </div>
                              <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.heart = !levImgOverlay.heart;addShape(shapeOptions[7].Type,7,queryParams.stone.shapes)">
                                <div class="lev-img lev-heart">
                                  <div id="HS" class="lev-img" ng-class="{'overlay':{{shapeOptions[7].isChecked}}}"></div>
                                </div>
                              </div>      
                            </div>
                        </div>
                    </div>
                    <!--div class="searchHeader text-center">Shape</div> 
                    <div class="row">
                      <div ng-repeat="shape in shapeOptions" class="option col-xs-6 col-sm-4 col-md-3">
                        <input type="checkbox" name="{{shape.Type}}" id="{{shape.Type}}-cb" ng-click="addItem(shape.Type, queryParams.stone.shapes)" ng-model="shape.isChecked"/><label class="cbLabel" for="{{shape.Type}}-cb">{{shape.Type}}</label><br>
                      </div>
                    </div-->

                    <div class="searchHeader text-center">Base Color</div> 
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <select class="form-control input-lg" ng-model="queryParams.stone.baseColor" ng-options="color for color in colorOptions"><option value="">Select Color...</option></select>
                      </div>
                      <!--div class="col-xs-12 col-sm-6" style="margin-top: 32px;">
                          <slider floor="0" ceiling="6" precision="1" step="1" ng-model-low="queryParams.stone.colorQualityLow" ng-model-high="queryParams.stone.colorQualityHigh" translate="colorQualityFormatting" ></slider>
                      </div-->
                    </div>

                    <div class="searchHeader text-center">Color Quality</div>
                    <div class="row clearfix">
                      <div class="col-md-12 col-sm-12 column">
                        <div class="slider-container">
                          <slider floor="0" ceiling="6" precision="1" step="1" buffer="1" ng-model-low="queryParams.stone.colorQualityLow" ng-model-high="queryParams.stone.colorQualityHigh" translate="colorQualityFormatting"></slider>
                        </div>
                      </div>
                    </div>

                    <div class="searchHeader text-center">Clarity</div>
                    <div class="row clearfix">
                      <div class="col-md-12 col-sm-12 column">
                        <div class="slider-container">
                          <slider floor="0" ceiling="9" precision="1" step="1" buffer="1" ng-model-low="queryParams.stone.clarityLow" ng-model-high="queryParams.stone.clarityHigh" translate="clarityFormatting"></slider>
                        </div>
                      </div>
                    </div>

                    <div class="searchHeader text-center">Carats</div>
                    <div class="row clearfix">
                      <div class="col-md-12 col-sm-12 column">
                        <div class="slider-container">
                          <slider floor="0" ceiling="300" precision="1" step="20" buffer="20" ng-model-low="queryParams.stone.caratLow" ng-model-high="queryParams.stone.caratHigh"></slider>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="searchHeader text-center">Created Date</div>
                      <div class="input-group col-xs-6 col-sm-6">
                        <span class="input-group-addon">From</span>
                        <input type="date" class="form-control input-lg" ng-model="queryParams.stone.createDateLow"/>
                      </div>
                      <div class="input-group col-xs-6 col-sm-6">
                        <span class="input-group-addon">To</span>
                        <input type="date" class="form-control input-lg" ng-model="queryParams.stone.createDateHigh"/>
                      </div>
                </div>
                  <br/>
                  
                  <div>
                    <center>
                      <button class="btn btn-default btn-lg" ng-click="resetStoneProperties()">Reset</button>
                      <button class="btn btn-default btn-lg" ng-click="selectAllShapes(queryParams.stone.shapes)">Select All</button>
                      <button class="btn btn-default btn-lg" ng-click="doSearch('stone')">Search Stones</button>
                    </center>
                  </div><br/>
              </div>
            </div>
            <br/>

            <div id="jewelryProperties" class="blockContainer">
                <br/>
                <div>
                  <center><span class="searchHeader">Jewelry Properties</span></center><span ng-show="showJewelryDetail" ng-click="showJewelry()" class="glyphicon glyphicon-expand" style="float:right;margin-top:-25px;color:white;"></span>
                  <span ng-show="!showJewelryDetail" ng-click="hideJewelry()" class="glyphicon glyphicon-collapse-down" style="float:right;margin-top:-25px;color:white;"></span>
                </div>
                <br/>
                <div ng-show="!showJewelryDetail">
                  <div class="row clearfix">
                      <div class="col-md-2 col-sm-2 column">
                        <div class="row clearfix">
                          <center><div class="searchHeader">Types</div></center><br/>
                            <div ng-repeat="type in typeOptions" class="option col-md-12 col-sm-12 column">
                              <input type="checkbox" name="{{type.Jewelry}}" id="{{type.Jewelry}}-cb" ng-click="addItem(type.Jewelry, queryParams.jewelry.types)" ng-model="type.isChecked"/><label class="cbLabel" for="{{type.Jewelry}}-cb">{{type.Jewelry}}</label><br>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-10 col-sm-10 column">
                      <!-- <center><span style="font-size:22px;font-weight:300;">Jewelry Properties</span></center><br/> -->
                        <div class="row clearfix">
                          <div class="input-group col-md-12 col-sm-12 column">
                            <span class="input-group-addon">Jewelry #</span>
                            <input type="text" class="form-control" ng-model="queryParams.jewelry.jewelryNumber" placeholder="Jewelry #"/>
                          </div>
                        </div><br/> 

                        <div class="row clearfix">
                          <div class="input-group col-md-12 col-sm-12 column">
                              <span class="input-group-addon">Set #</span>
                              <input type="text" class="form-control" ng-model="queryParams.jewelry.setNumber" placeholder="Set #"/>        
                          </div>
                        </div><br/>

                        <div class="row clearfix">
                          <div class="col-md-12 col-sm-12 column">
                                <select class="form-control input-lg" ng-model="queryParams.jewelry.location" ng-options="loc for loc in locationOptions"><option value="">Select Location...</option></select>        
                          </div>
                        </div> 

                        <div class="searchHeader text-center">Style</div>
                        <div class="row clearfix">
                          <div class="btn-group col-md-6 col-sm-6 column">
                   
                                <select class="form-control input-lg" ng-model="queryParams.jewelry.family" ng-options="family for family in familyOptions"><option value="">Select Family...</option></select>
                          </div>
                          <div class="btn-group col-md-6 col-sm-6 column">
                                <select class="form-control input-lg" ng-model="queryParams.jewelry.design" ng-options="design for design in designOptions"><option value="">Select Design...</option></select>        
                          </div>        
                        </div> 
                        <div class="searchHeader text-center">Colors</div><br/>
                        <div class="row clearfix">
                          <div class="btn-group col-md-6 col-sm-6 column">
                   
                                <select class="form-control input-lg" ng-model="queryParams.jewelry.colorPrimary" ng-options="color for color in colorOptions"><option value="">Select Primary Color...</option></select> 
                          
                          </div>
                          <div class="btn-group col-md-6 col-sm-6 column">
                                <select class="form-control input-lg" ng-model="queryParams.jewelry.colorSecondary" ng-options="color for color in colorOptions"><option value="">Select Secondary Color...</option></select>        
                          </div>
                        </div>

                        <!--div class="searchHeader text-center">Shape</div>
                        <div class="row clearfix">
                          <div class="col-md-12 col-sm-12"> 
                          <div class="row clearfix">
                            <div class="col-md-3 col-sm-3 column" ng-click="addShape(shapeOptions[0].Type,0,queryParams.stone.shapes)">
                              <div class="lev-img lev-marquise">
                                <div id="marquise" class="lev-img" ng-class="{'overlay':{{shapeOptions[0].isChecked}}}"></div>
                              </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.oval = !levImgOverlay.oval;addShape(shapeOptions[1].Type,1,queryParams.stone.shapes)">
                              <div class="lev-img lev-oval">
                                <div id="oval" class="lev-img" ng-class="{'overlay':{{shapeOptions[1].isChecked}}}"></div>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.pear = !levImgOverlay.pear;addShape(shapeOptions[2].Type,2,queryParams.stone.shapes)">
                              <div class="lev-img lev-pear">
                                <div id="pear" class="lev-img" ng-class="{'overlay':{{shapeOptions[2].isChecked}}}"></div>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.princess = !levImgOverlay.princess;addShape(shapeOptions[3].Type,3,queryParams.stone.shapes)">
                              <div class="lev-img lev-princess">
                                <div id="princess" class="lev-img" ng-class="{'overlay':{{shapeOptions[3].isChecked}}}"></div>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        <div class="row clearfix">
                        <div class="col-md-12 col-sm-12">  
                        <div class="row clearfix">
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.radiant = !levImgOverlay.radiant;addShape(shapeOptions[4].Type,4,queryParams.stone.shapes)">
                            <div class="lev-img lev-radiant">
                              <div id="radiant" class="lev-img" ng-class="{'overlay':{{shapeOptions[4].isChecked}}}"></div>
                            </div>
                          </div>

                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.round = !levImgOverlay.round;addShape(shapeOptions[5].Type,5,queryParams.stone.shapes)">
                            <div class="lev-img lev-round">
                              <div id="round" class="lev-img" ng-class="{'overlay':{{shapeOptions[5].isChecked}}}"></div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.trillion = !levImgOverlay.trillion;addShape(shapeOptions[6].Type,6,queryParams.stone.shapes)">
                            <div class="lev-img lev-trillion">
                              <div id="trillion" class="lev-img" ng-class="{'overlay':{{shapeOptions[6].isChecked}}}"></div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.heart = !levImgOverlay.heart;addShape(shapeOptions[7].Type,7,queryParams.stone.shapes)">
                            <div class="lev-img lev-heart">
                              <div id="heart" class="lev-img" ng-class="{'overlay':{{shapeOptions[7].isChecked}}}"></div>
                            </div>
                          </div>      
                        </div-->

                        <div class="searchHeader text-center">Price</div>
                        <div class="row clearfix">
                          <div class="col-md-12 col-sm-12 column">
                            <div class="slider-container">
                              <slider floor="0" ceiling="3000" precision="1" step="200" buffer="200" ng-model-low="queryParams.jewelry.priceLow" ng-model-high="queryParams.jewelry.priceHigh" translate="currencyFormattingThousands"></slider>
                            </div>
                          </div>
                        </div>

                        <!--div class="searchHeader text-center">Weight</div>
                        <div class="row clearfix">
                          <div class="col-md-12 col-sm-12 column">
                            <div class="slider-container">
                              <slider floor="0" ceiling="300" precision="1" step="20" buffer="20" ng-model-low="queryParams.stone.caratLow" ng-model-high="queryParams.stone.caratHigh"></slider>
                            </div>
                          </div>
                        </div-->


                  <!--       <div class="row clearfix">
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.emerald = !levImgOverlay.emerald;addShape(shapeOptions[8].Type,8,queryParams.stone.shapes)">
                            <div class="lev-img lev-emerald">
                              <div id="emerald" class="lev-img" ng-class="{'overlay':{{shapeOptions[8].isChecked}}}"></div>
                            </div>
                          </div>

                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.cushion = !levImgOverlay.cushion;addShape(shapeOptions[9].Type,9,queryParams.stone.shapes)">
                            <div class="lev-img lev-cushion">
                              <div id="cushion" class="lev-img" ng-class="{'overlay':{{shapeOptions[9].isChecked}}}"></div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 column" ng-click="levImgOverlay.asscher = !levImgOverlay.asscher;addShape(shapeOptions[10].Type,10,queryParams.stone.shapes)">
                            <div class="lev-img lev-asscher">
                              <div id="asscher" class="lev-img" ng-class="{'overlay':{{shapeOptions[10].isChecked}}}"></div>
                            </div>
                          </div>      
                        </div> -->
                        </div>
                        <div class="searchHeader text-center">Status</div>
                        <div class="row clearfix">
                          <div class="col-md-12 col-sm-12 column">
                            <div ng-repeat="status in statusOptions" class="option col-md-1 col-sm-3 column">
                              <input type="checkbox" name="{{status.Status}}" id="{{status.Status}}-cb" ng-click="addItem(status.Status, queryParams.jewelry.statuses)" ng-model="status.isChecked"/><label class="cbLabel" for="{{status.Status}}-cb">{{status.Status}}</label><br>
                            </div> 
                          </div>
                        </div> 
                        </div>            

                      <br/>
                      <div class="row clearfix">
                          <div class="col-md-12">
                              <center>
                                <button class="btn btn-default btn-lg" ng-click="resetJewelryProperties()">Reset</button> 
                                <button class="btn btn-default btn-lg" ng-click="selectAllTypes(queryParams.jewelry.types)">Select All</button> 
                                <button class="btn btn-default btn-lg" ng-click="doSearch('jewelry')">Search Jewelry</button>
                              </center><br/>  
                          </div>
                      </div>
                  </div>
            </div>
        </div>

        <div id="favoriteMode" ng-show="favoritesMode" class="animated fadeIn" ng-class="favoriteModeAnimate">
            <center>Favorites Lists</center>
            <button class="btn btn-default btn-lg right" ng-click="createFavoriteList()">Create New</button><br/><br/>
            <favourite-List></favourite-List>
        </div>

    </div>
</div>
  

  <!--div class="row " ng-hide="showSearchControls">
    <search-Header query-Params="queryParams" search-Controls="showSearchControls"></search-Header>
    <search-Result ng-repeat="jewelry in searchResults" item="jewelry"></search-Result>
  </div-->
  
  <!--Debug View:-->
  <!--pre>{{queryParams | json}} {{searchResults | json}} </pre-->

<!--div class="footer">
</div-->



