<div class="animated fadeIn" ng-class="searchResultAnimate">
  <leviev-Header back-Button search-mode="searchMode" favorites-mode="favoritesMode"></leviev-Header>
  <br/>
  <center>{{displayText}}</center>
  <div class="container">
      <span class="glyphicon glyphicon-th-large" ng-click="switchToGridView()" style="float: right;font-weight: bold;font-size: 15px;cursor:pointer;">&nbsp;Grid view</span><br/><br/>
      <ul>
          <li ng-repeat="jewelry in searchResults">
              <div ng-click="viewSingleItem(jewelry)" style="display:block;border-style:solid;border-width:1px;height:53px;margin-top:10px;cursor:pointer;background:#FFFFFF;border-radius:5px;">
                  <img style="height:50px;width:50px;float:left;border-radius:20px;margin-left:10px;" src="{{jewelry.Image_Source__c || jewelry.Jewelry__r.Image_Source__c}}&size=medium"/>
                  <span style="margin-left:20px;color:#808080;font-size:16px;">{{jewelry.Name}}</span>
                  <span id="{{item.Id}}" style="float:right;margin-right:10px;cursor:pointer;margin-top: 10px;" class="glyphicon glyphicon-star starColor" ng-click="markAsFavorite(jewelry.Id)"></span>
                  <span style="margin-right:30px;color:#808080;font-size:16px;float:right;">{{jewelry.Total_Weight__c || jewelry.Carats__c}} carats</span>
                  <br/>
                  <span style="margin-left:20px;color:#808080;font-size:16px;">{{jewelry.GBP_Search_Price__c | currency}}</span>
                  <span style="margin-right:30px;color:#808080;font-size:16px;float:right;">{{jewelry.Item_Location__c}}</span>
              </div>
          </li>
      </ul>
  </div>
</div>
