<div class="animated fadeIn" ng-class="searchResultAnimate">
  <leviev-Header back-Button search-mode="searchMode" favorites-mode="favoritesMode"></leviev-Header>
  <br/>
  <center>{{displayText}}</center>
  <div class="container">
  <span ng-show="showToggleButton" class="glyphicon glyphicon-list" ng-click="switchToListView()" style="float: right;font-weight: bold;font-size: 15px;cursor:pointer;">&nbsp;List view</span>
    <ul rn-carousel rn-carousel-indicator rn-carousel-index="1" class="my-slider slider3 ng-cloak">

    <li ng-repeat="jewelry in searchResults.slice(0,iterate)">

      <ul>
      <li ng-repeat ="item in pagedItems[$index]">
        
        <div class="col-md-6 col-lg-6 boxContainer">
          <div class="contentBody"><div class="lev-image" ng-click="viewSingleItem(item)" style="cursor:pointer; height:inherit; width:margin-top:-42px; background-image:url('{{item.Image_Source__c || item.Jewelry__r.Image_Source__c}}&size=medium')"/></div>
          <div class="contentFooter" style="color:black;"><span style="margin-left:10px;">{{item.Name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Total_Weight__c || item.Carats__c}} carats </span>
          <span id="{{item.Id}}" style="float:right;margin-right:10px;cursor:pointer;" class="glyphicon glyphicon-star starColor" ng-click="markAsFavorite(item.Id)"></span><br/>
          <span style="margin-left:10px;">{{item.GBP_Search_Price__c | currency}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Item_Location__c}}</span></div>
        </div>
        </div>

    <!-- <img src="{{item.Image_Source__c}}" style="height: 50px; width:50px ;"> -->

      </li> 
      </ul>
     
     </li>

     </ul>
  </div>
</div>

<!--ul rn-carousel-indicator rn-carousel-index="1" class="my-slider slider3 ng-cloak">
  <li><span ng-click="markAsFavorite('hello')"> Favorites </span></li>
  <li><button class="btn btn-primary" ng-click="markAsFavorite('button')">button</button></li>
</ul-->

