<div class="animated fadeIn"   ng-class="searchResultAnimate">
  <leviev-Header back-Button search-mode="searchMode" favorites-mode="favoritesMode"></leviev-Header>
  <br/>
  <div class="container">
    
    <div class="row">
        
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="lev-image" ng-click="navigateToDetailPage()" style="cursor:pointer; height:inherit; width:margin-top:-42px; background-image:url('{{selectedItem.Image_Source__c || selectedItem.Jewelry__r.Image_Source__c}}&size=large'); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-12" ng-click="navigateToDetailPage()">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <span class="singleItemHeader">{{selectedItem.Name}}</span>
            </div>
            <div class="col-md-6 col-lg-6" style="text-align: right;">
             <span class="itemPrice">{{selectedItem.GBP_Search_Price__c | currency}}</span>
            </div>
          </div>

          <div class="row itemDesc">
            <div class="col-md-12 col-lg-12">
              <p style="font-size: 16px;color: #000;">{{selectedItem.Description}}</p>
            </div>
          
            <div class="col-md-6 col-lg-6 text-center">
              <span class="itemWeight ">{{selectedItem.Total_Weight__c || selectedItem.Carats__c}} carats</span>
            </div>
            <div class="col-md-6 col-lg-6 text-center">
              <span class="itemLocation">{{selectedItem.Item_Location__c}}</span>
            </div>
            
          </div>  
        </div>
      </div>
  </div>
</div>

<!--ul rn-carousel-indicator rn-carousel-index="1" class="my-slider slider3 ng-cloak">
  <li><span ng-click="markAsFavorite('hello')"> Favorites </span></li>
  <li><button class="btn btn-primary" ng-click="markAsFavorite('button')">button</button></li>
</ul-->

